@font-face {
  font-family: "AlimamaFangYuanTiVF";
  src: url("//cdn.jsdelivr.net/gh/eug620/Pics@master/micro-vue/AlimamaFangYuanTiVF-Thin.woff2") format("woff2"),
  url("//cdn.jsdelivr.net/gh/eug620/Pics@master/micro-vue/AlimamaFangYuanTiVF-Thin.woff") format("woff"),
  url("//cdn.jsdelivr.net/gh/eug620/Pics@master/micro-vue/AlimamaFangYuanTiVF-Thin.ttf") format("ttf");
  font-display: swap;
}

html {
    /* 定义变量 */
    --bgColor: rgb(226, 227, 228);
    font-family: 'AlimamaFangYuanTiVF';
}

#app {
    height: 100dvh;
    width: 100dvw;
    background-color: var(--bgColor);
}

.neumorphism-up {
    border-radius: 12px;
    background: linear-gradient(145deg, #cbcccd, #f2f3f4);
    box-shadow: 20px 20px 60px #c0c1c2,
        -20px -20px 60px #ffffff;
}

.neumorphism-down {
    border-radius: 12px;
    background: #e2e3e4;
    box-shadow: inset 20px 20px 60px #c0c1c2,
        inset -20px -20px 60px #ffffff;
}


.login button {
    color: #090909;
    padding: 0.8em 1.4em;
    font-size: 14px;
    border-radius: 0.4em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.login button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.input {
    border: none;
    padding: .6rem;
    border-radius: 1rem;
    background: #e8e8e8;
    box-shadow: 10px 10px 30px #c5c5c5,
        -10px -10px 30px #ffffff;
    transition: 0.3s;
}

.input:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 10px 10px 30px #c5c5c5,
        inset -10px -10px 30px #ffffff;
    transition: 0.3s;
}

.textarea {
    border: none;
    padding: .6rem;
    border-radius: 1rem;
    background: var(--bgColor);
    box-shadow: 10px 10px 30px #c5c5c5,
        -10px -10px 30px var(--bgColor);
    transition: 0.3s;
}

.textarea:focus {
    outline-color: #e8e8e8;
    background: var(--bgColor);
    box-shadow: inset 10px 10px 30px #c5c5c5,
        inset -10px -10px 30px var(--bgColor);
    transition: 0.3s;
}


textarea:focus {
    border-color: none; /* 聚焦时边框颜色 */
    outline: none; /* 移除默认轮廓线 */
}
textarea {
    resize: none;
}


// .switch-holder {
//     display: flex;
//     padding: 10px 20px;
//     border-radius: 10px;
//     box-shadow: -8px -8px 15px rgba(255, 255, 255, .7),
//         10px 10px 10px rgba(0, 0, 0, .2),
//         inset 8px 8px 15px rgba(255, 255, 255, .7),
//         inset 10px 10px 10px rgba(0, 0, 0, .2);
//     justify-content: space-between;
//     align-items: center;
// }

// .switch-label {
//     padding: 0 20px 0 10px
// }

// .switch-label i {
//     margin-right: 5px;
// }

.login-toggle {
    height: 40px;
}

.login-toggle input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -2;
}

.login-toggle input[type="checkbox"]+label {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin: 0;
    cursor: pointer;
    box-shadow: inset -8px -8px 15px rgba(255, 255, 255, .6),
        inset 10px 10px 10px rgba(0, 0, 0, .25);
}

.login-toggle input[type="checkbox"]+label::before {
    position: absolute;
    content: '登录';
    font-size: 13px;
    text-align: center;
    line-height: 25px;
    top: 8px;
    left: 8px;
    width: 45px;
    height: 25px;
    border-radius: 20px;
    background-color: #eeeeee;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, .5),
        3px 3px 5px rgba(0, 0, 0, .25);
    transition: .3s ease-in-out;
}

.login-toggle input[type="checkbox"]:checked+label::before {
    left: 50%;
    content: '注册';
    color: #fff;
    background-color: #00b33c;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, .5),
        3px 3px 5px #00b33c;
}